@model TransactionView

<style>
    * {
        margin: 0;
        padding: 0;
    }

    #page-wrap {
        margin: 50px;
    }

    p {
        margin: 20px 0;
    }

    /*
    Generic Styling, for Desktops/Laptops
    */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    /* Zebra striping */
    tr:nth-of-type(even) {
        background: #ede9de;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

        td:nth-of-type(3),
        td:nth-of-type(5) {
            text-align: right;
        }

        td:nth-of-type(4),
        td:nth-of-type(6) {
            text-align: center;
        }

    /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.

    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {*/
    @@media only screen and (max-width: 760px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40%;
        }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }
            /*
        Label the data
        */
            td:nth-of-type(1):before,
            td:nth-of-type(2):before,
            td:nth-of-type(3):before,
            td:nth-of-type(4):before,
            td:nth-of-type(5):before {
                font-size: .8em;
                line-height: 2em;
            }

            td:nth-of-type(1):before {
                content: "Date";
            }

            td:nth-of-type(2):before {
                content: "Transaction";
            }

            td:nth-of-type(3):before {
                content: "Amount";
            }

            td:nth-of-type(4):before {
                content: "Posted";
            }

            td:nth-of-type(5):before {
                content: "Balance";
            }

            td:nth-of-type(3),
            td:nth-of-type(4),
            td:nth-of-type(5),
            td:nth-of-type(6) {
                text-align: left;
            }
    }

    /* Smartphones (portrait and landscape) -----------
    @@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
    @@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        body {
            padding: 30px 0;
            margin: 0;
        }
    }

    /* iPads (portrait and landscape) -----------
    @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {*/
    @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body {
            padding: 30px 0;
        }
    }
</style>

@if (Model.Transactions.Count() == 0)
{
    <h3 style="line-height:1.5em;">You have no transactions.  Start with adding some transactions by hitting 
        <a asp-controller="Home"
           asp-action="Add"
           style="margin-left:0;padding-left:0;font-size:1.3em;color:#ee3d00;">
            +
        </a>
    </h3>
}
else
{
    <div class="container text-center">
        <form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
            <div class="text-right col-sm-offset-6 col-sm-3" style="">
                <div style="min-width:150px;max-width:200px;padding:0;">
                    Start Date:
                    <input asp-for="@Model.dateStart" class="form-control" />
                </div>
            </div>
            <div class="text-right col-sm-3" style="">
                <div style="min-width:150px;max-width:200px;padding:0;">
                    End Date:
                    <input asp-for="@Model.dateEnd" class="form-control" />
                </div>
            </div>
            <input id="submit-date-change" type="submit" hidden="hidden" />
        </form>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Amount</th>
                    <th>Posted</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Transactions)
                {
                    <tr id="@item.UniqueId">
                        <td>@item.TransactionDate.ToString("M/d/yyyy")</td>
                        <td>@item.TransactionDesc</td>
                        <td>@item.Amount</td>
                        <td>@item.Posted</td>
                        <td>@item.Balance</td>
                        <td>
                            <a href="edit/@item.UniqueId">EDIT</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Home"
           asp-action="Add"
           class="navbar-brand pull-right"
           style="margin-left:0;padding-left:0;font-size:2.5em;color:#ee3d00;">
            +
        </a>
    }

    <script>
    $(function () {
        $('#dateStart').datebox({
            mode: "datebox",
            popupPosition: "window",
            closeCallback: function (dt) {
                $('#submit-date-change').click();
            }
        }).trigger('datebox', {
            'method': 'set', 'value': '@Model.dateStart.ToString("yyyy-MM-dd")',
            'date': new Date('@Model.dateStart.ToString("yyyy-MM-dd")')
        });

        $('#dateEnd').datebox({
            mode: "datebox",
            popupPosition: "window",
            closeCallback: function (dt) {
                $('#submit-date-change').click();
            }
        }).trigger('datebox', {
            'method': 'set', 'value': '@Model.dateEnd.ToString("yyyy-MM-dd")',
            'date': new Date('@Model.dateEnd.ToString("yyyy-MM-dd")')
        });
    })
    </script>
}