<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]goBudget.me</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/lib/jtsage-datebox/css/jtsage-datebox.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jqueri-ui/jquery-ui.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jtsage-datebox/js/jtsage-datebox.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    </environment>
    <environment names="Staging,Production">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/lib/jtsage-datebox/css/jtsage-datebox.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jqueri-ui/jquery-ui.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jtsage-datebox/js/jtsage-datebox.js"></script>

        @*PUT BUNDLE HERE*@
    </environment>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" 
                        class="navbar-toggle" 
                        data-toggle="collapse" 
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" 
                   asp-action="Index" 
                   class="navbar-brand gobudget" 
                   style="margin-right:0;padding-right:0;">
                    goBudgetMe
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Home" 
                       asp-action="Add" 
                       class="navbar-brand" 
                       style="margin-left:0;padding-left:0;font-size:2.5em;color:#ee3d00;">
                        +
                    </a>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    @*<li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="text-center" style="margin-top:50px;">
            <p>&copy; @DateTime.Now.Year - goBudget.me</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
